[submodule "public"]
	path = public
	url = https://github.com/longpham28/longpham28.github.io.git
[submodule "themes/mainroad1"]
	path = themes/mainroad1
	url = https://github.com/longpham28/Mainroad-1.git
